html {
  height: 100%;
}

body {
	font-family: brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  color: #eee;

  background-color: #252528;
  
  margin: 0;
  height: 100%;
}

#svgBoard {
  border: 1px dotted rgba(224, 235, 255, 0.1);
  min-height: 400px;
}

.arrowboard {
  background-color: transparent;
}

.node circle {
  cursor: pointer;
  stroke-width: 1.5px;
	fill-opacity: 0.8;
	stroke-opacity: 0.5;
  fill: blue;
}

.node text {
  text-rendering: geometricPrecision;
  fill: #fff;

/*
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 0.9;
  filter: url(#text-glow);
*/  
}


.link {
  fill: none;
  stroke: #aaa;
  opacity: 0.7;
}

.pane {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  width: 44%;
  min-width: 200px;
}

.collapsedPane {
  width: 0;
  min-height: 0px;
}

.collapsedPane #svgBoard {
  width: 0;
  min-height: 0px;
}

.expandedPane {
  width: 92%;
  min-width: 200px;
}

.textpane {
  font-family: adelle, Georgia, serif;
  background-color: #ffe;
  color: #403838;
  margin-left: 8px;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}

.textpane a {
  text-decoration: none;
  font-weight: bold;
}

.textpane a:link {
  color: #e03020;
}

.textpane a:visited {
  color: #346;
}

.collapsedPane .textpane {
  display: none;
}

#graphPane {
  min-width: 200px;
}

@-moz-document url-prefix(http) {
  #graphPane {
    height: 100%; /* Need for Firefox */
  }
}

.divider {
  width: 38px;
  min-width: 38px;
  height: 48px;
}

.textcontent {
  font-weight: normal;  
  font-size: 20px;
  padding-left: 1.2em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.textcontent ul {
  list-style-type: circle;
}

.editing {
  border: 4px red dashed;
}

.notification {
  border: 2px blue dotted;
  -webkit-border-radius: 1em; border-radius: 1em;
}

.control-link {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
}

.findunread-link {
  float: right;  
  padding-left: 8px;
  padding-right: 8px;
}

.info-note {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.25);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

section {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  -webkit-box-align: center; -moz-box-align: center; 
  -ms-flex-align: center; 
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center; 
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */   
}

#graphPane {
  order: 1;
  -webkit-box-ordinal-group: 1;
}

.divider {
  order: 2;
  -webkit-box-ordinal-group: 2;
}

#nongraphPane {
  order: 3;
  -webkit-box-ordinal-group: 3;
}


/* Firefox */
@-moz-document url-prefix(http) {
  #nongraphPane {
    /* When the content is taller than the window, this will let it scroll. */
    height: 100%;
  }
}


/* iPad */

@media only screen and (min-device-width : 768px) and (max-device-height: 1024px) {
  #svgBoard {
    height: 768px;
  }
}

@media only screen and (min-device-width : 1024px) and (max-device-height: 768px) {
  #svgBoard {
    height: 512px;
  }
}

/* Mobile */

@media only screen and (max-device-height: 568px) {
  /* Works on iOS 7 */
  section {
    /*height: 568px;*/
    width: 320px;
  }

  #graphPane {
    order: 3;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 3;
    flex: 1 6 100px;
    -webkit-flex: 1 0 100%;
    width: 95%;
  }

  .divider {
    display: none;
    order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 2;
    flex: 0 0 0px;
    -webkit-flex: 0 0 0px;
  }

  #nongraphPane {
    width: 100%;
    -webkit-order: 1;
    order: 1;
    -webkit-box-ordinal-group: 1;
    margin-top: 8px;
    flex: 1 1 80%;
    -webkit-flex: 1 0 100%;
  }

  /* Works on iOS 6 */
  section.is-not-ios-seven {
    height: 568px;

    flex-direction: column;
    -webkit-flex-direction: column;

    /* Without this, Safari won't respect -webkit-flex-direction. */
    -webkit-box-orient: vertical;
  }

  #graphPane.is-not-ios-seven {
    order: 3;
    -webkit-box-ordinal-group: 3;
    flex: 1 6 100px;
    -webkit-flex: 1 6 100px;
    width: 95%;
  }

  .divider.is-not-ios-seven {
    display: none;
    order: 2;
    -webkit-box-ordinal-group: 2;
    flex: 0 0 0px;
    -webkit-flex: 0 0 0px;
  }

  #nongraphPane.is-not-ios-seven {
    width: 100%;
    order: 1;
    -webkit-box-ordinal-group: 1;
    margin-top: 8px;
    flex: 1 1 80%;
    -webkit-flex: 3 1 80%;
  }
  

  #svgBoard {
    height: 250px;
  }

  .expandedPane {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
  }

  .expandedPane #svgBoard {
    height: 100%;
  }

  .collapsedPane {
    max-height: 0;
    height: 0;
    flex: 1 1 0;
    -webkit-flex: 1 1 0;
  }
}

